@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: #222222;
}

html{
    position: relative;
}

body{
    margin-bottom: 60px;
}

.jumbotron {
    height: 600px;
    padding-top: 300px;
    background-image: url('../img/7.jpg');
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    color: #eaeaee;
}

.jumbotron img{
    width: 155px;
    height: 165px;
    border: 3px solid #999999;
    border-radius: 50%;
    margin-bottom: 1rem;
    margin-top: 4rem;
}


.jumbotron p{
    font-size: 50px;
    word-spacing: 5px;
    text-shadow:1px 1px 1px rgb(0,0,0,0.5);

}

.about{
    margin-top: 30px;
}

.about hr{
    width: 250px;
    border-top: 3px solid #222222;
    margin-bottom: 20px;
}

.education{
    padding: 20px 20px;
}


.education hr{
    width: 250px;
    border-top: 3px solid #222222;
    margin-bottom: 30px;
 
}

.skill hr{
    width: 250px;
    border-top: 3px solid #222222;
    margin-bottom: 30px;
 
}

.accordion{
    width: auto;
    vertical-align: middle;
    align-content: center;
    text-align: center;
}

.accordion a {
    margin-bottom: 20px;
}

.padding{
    margin-bottom: 20px;
}

.gallery{
    margin-top: 30px;
    padding-top: 20px;
}

.gallery hr{
    width: 250px;
    border-top: 3px solid #222222;
    margin-bottom: 30px;
}

.gallery .thumbnail{
    opacity: 0;
    transform: translate(0, -50px);
    transition: 0.7s;
}

.gallery .thumbnail.tmuncul{
    opacity: 1;
    transform: translate(0, 0);
}

.img-thumbnail {
    margin-bottom: 20px;
}

.contact{
    margin-top: 20px;
    margin-bottom: 30px;
    padding-top: 20px;
}

.contact hr{
    width: 250px;
    border-top: 3px solid #222222;
    margin-bottom: 30px;
}

footer {
    background-color: #3f3f3f;
    color: #d5d5d5;
    width: 100%;
    height: 60px;
    bottom: 0;
}


/* Style all font awesome icons */
.fa {
    margin: 20px 20px;
    padding: 10px;
    font-size: 50px;
    width: 70px;
    text-align: center;
    border-radius: 50%;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Whatsapp */
  .fa-whatsapp {
    background: #4FCE5D;
    color: white;
  }
  /* Google */
  .fa-google {
    background: #D44638;
    color: white;
  }
  /* Telegram */
  .fa-telegram {
    background: #0088CC;
    color: white;
  }
  /* Instagram */
  .fa-instagram {
    background: #8a3ab9;
    color: white;
  }
  /* Skype */
  .fa-skype {
    background: #00AFF0;
    color: white;
  }
  /* Github */
  .fa-github {
    background: #211F1F;
    color: white;
  }






